In [ ]:
Simple Imputer

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = [
    [1.0, 2.0, np.nan, 2.0, 5.0, "Cat1"],
    [np.nan, 8.0, 4.0, 5.0, 1.0, "Cat2"],
    [3.0, 4.0, 7.0, np.nan, 2.0, np.nan],
    [4.0, np.nan, 1.0, 6.0, 3.0, "Cat1"],
    [5.0, 1.0, 2, 3.0, np.nan, "Cat2"],
    [9.0, 4.0, np.nan, 3.0, np.nan, "Cat2"]]

In [3]:
data = pd.DataFrame(data, columns = [0, 1, 2, 3 ,4 ,5])
data.head()

     0    1    2    3    4     5
0  1.0  2.0  NaN  2.0  5.0  Cat1
1  NaN  8.0  4.0  5.0  1.0  Cat2
2  3.0  4.0  7.0  NaN  2.0   NaN
3  4.0  NaN  1.0  6.0  3.0  Cat1
4  5.0  1.0  2.0  3.0  NaN  Cat2

In [5]:
from sklearn.impute import SimpleImputer

In [8]:
num_imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
cat_imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')

In [9]:
X = data[[0, 1, 2, 3, 4]]
data[[0, 1, 2, 3, 4]] = num_imputer.fit_transform(X)
data.head()

     0    1    2    3     4     5
0  1.0  2.0  3.5  2.0  5.00  Cat1
1  4.4  8.0  4.0  5.0  1.00  Cat2
2  3.0  4.0  7.0  3.8  2.00   NaN
3  4.0  3.8  1.0  6.0  3.00  Cat1
4  5.0  1.0  2.0  3.0  2.75  Cat2

In [11]:
Y = data[[5]]
data[[5]] = cat_imputer.fit_transform(Y)
data.head()

     0    1    2    3     4     5
0  1.0  2.0  3.5  2.0  5.00  Cat1
1  4.4  8.0  4.0  5.0  1.00  Cat2
2  3.0  4.0  7.0  3.8  2.00  Cat2
3  4.0  3.8  1.0  6.0  3.00  Cat1
4  5.0  1.0  2.0  3.0  2.75  Cat2

Thanks