# Binning a Column using Pandas

In [1]:
import pandas as pd 
import numpy as np

In [9]:
df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [20]:
# Underweight: BMI is less than 18.5.
# Normal: BMI is 18.5 to 24.9.
# Overweight: BMI is 25 to 29.9.
# Obese: BMI is 30 or more.

In [21]:
bins = (0,18.4,24.9,29.9,100)
health_status = ['Underweight', 'Normal', 'Overweight', 'Obese']

df['BMI_group'] = pd.cut(df['bmi'], bins = bins, labels = health_status)
df.head()

   age     sex     bmi  children smoker     region      charges   BMI_group
0   19  female  27.900         0    yes  southwest  16884.92400  Overweight
1   18    male  33.770         1     no  southeast   1725.55230       Obese
2   28    male  33.000         3     no  southeast   4449.46200       Obese
3   33    male  22.705         0     no  northwest  21984.47061      Normal
4   32    male  28.880         0     no  northwest   3866.85520  Overweight

In [24]:
df[df['bmi'] == 25]

      age     sex   bmi  children smoker     region    charges   BMI_group
920    62  female  25.0         0     no  southwest  13451.122  Overweight
1136   44  female  25.0         1     no  southwest   7623.518  Overweight

In [22]:
df['BMI_group'].value_counts()

Obese          716
Overweight     380
Normal         222
Underweight     20
Name: BMI_group, dtype: int64